@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito Sans',
        sans-serif;
    font-size: 16px;
    color: #29384E;
}

#flip {
    height: 72px;
    overflow: hidden;
}

#flip>div>div {
    padding: 4px 12px;
    height: 50px;
    margin-bottom: 45px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 7s linear infinite;
}

@keyframes show {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}